<!DOCTYPE html>
<html class="x-admin-sm" lang="en-US" xmlns:th="http://www.thymeleaf.org">

<head>
  <meta charset="UTF-8">
  <title>VIEW通讯录系统</title>
  <meta name="renderer" content="webkit">
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
  <meta name="viewport" content="width=device-width,user-scalable=yes, minimum-scale=0.4, initial-scale=0.8,target-densitydpi=low-dpi" />
  <link rel="shortcut icon" href="https://view6view.oss-cn-shanghai.aliyuncs.com/mylib/image-source/favicon.ico">
  <link rel="stylesheet" th:href="@{/css/font.css}">
  <link rel="stylesheet" th:href="@{/css/xadmin.css}">
  <script type="text/javascript" th:src="@{/lib/layui/layui.js}" charset="utf-8"></script>
  <script type="text/javascript" th:src="@{/js/xadmin.js}"></script>
  <!-- 让IE8/9支持媒体查询，从而兼容栅格 -->
  <!--[if lt IE 9]>
  <script src="https://cdn.staticfile.org/html5shiv/r29/html5.min.js"></script>
  <script src="https://cdn.staticfile.org/respond.js/1.4.2/respond.min.js"></script>
  <![endif]-->
</head>
<body>
<div class="layui-fluid">
  <div class="layui-row">
    <form class="layui-form">

      <div class="layui-form-item">
        <label for="name" class="layui-form-label">
          <span class="x-red">*</span>姓名
        </label>
        <div class="layui-input-inline">
          <input type="text" id="name" name="name" required="" lay-verify="required"
                 autocomplete="off" class="layui-input">
        </div>
        <div class="layui-form-mid layui-word-aux">
          <span class="x-red">*</span>请填写联系人的姓名
        </div>
      </div>

      <div class="layui-form-item">
        <label for="phone" class="layui-form-label">
          <span class="x-red">*</span>手机
        </label>
        <div class="layui-input-inline">
          <input type="text" id="phone" name="phone" required="" lay-verify="phone"
                 autocomplete="off" class="layui-input">
        </div>
        <div class="layui-form-mid layui-word-aux">
          <span class="x-red">*</span>请填写联系人的手机
        </div>
      </div>

      <div class="layui-form-item">
        <label for="address" class="layui-form-label">
          <span class="x-red">*</span>地址
        </label>
        <div class="layui-input-inline">
          <input type="text" id="address" name="address" required="" lay-verify="required"
                 autocomplete="off" class="layui-input">
        </div>
        <div class="layui-form-mid layui-word-aux">
          <span class="x-red">*</span>请填写联系人的地址
        </div>
      </div>

      <div class="layui-form-item">
        <label class="layui-form-label">
        </label>
        <button  class="layui-btn" lay-filter="add" lay-submit="">
          新增联系人信息
        </button>
      </div>
    </form>
  </div>
</div>
<script>
  layui.use(['form', 'layer'],
          function() {
            $ = layui.jquery;
            var form = layui.form,
                    layer = layui.layer;

            //监听提交
            form.on('submit(add)',
                    function(data) {
                      //发异步，把数据提交给服务器
                      $.ajax({
                        url:'http://'+window.location.host+'/view/toAdd',
                        type: 'post',
                        dataType: 'json',
                        data:{
                          name: data.field.name,
                          phone: data.field.phone,
                          address: data.field.address
                        },

                        success:function (res) {
                          return true
                        }
                      })
                      layer.alert("新增联系人成功！", {
                                icon: 6
                              },
                              function() {
                                //关闭当前frame
                                xadmin.close();
                                // 可以对父窗口进行刷新
                                xadmin.father_reload();
                              });
                      return false;
                    });
          });
</script>
</body>

</html>